@import "./variables/colors.css";


.container {
	width: 25vw;
	height: 65vh;
	margin-top: 50vh;
	margin-left: 50vw;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: var(--second-color);
	border-radius: 5px;
}

.container > img {
	width: 80%;
}

.loginForm {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 38%;
	width: 80%;
}

.loginForm > input {
	box-sizing: content-box;
	border-width: 0px;
	box-shadow: none;
	border-radius: 5px;
	height: 15px;
	padding: 12px;
}

.loginForm > input:focus {
	outline: none !important;
	border: 1px solid var(--action-first-color);
}

.loginForm > input[type="button"] {
	margin-top: 20px;
	background-color: var(--action-first-color);
	color: #fff;
}

.loginForm > input[type="button"]:hover {
	background-color: var(--action-second-color);
	cursor: pointer;
}

#noAccountLink {
	font-size: 14px;
	align-self: center;
}
