@import "./style/variables/colors.css";


body {
	background-color: var(--background-color);
	overflow: hidden;
	margin: 0 !important;
	padding: 0 !important;
}

body, input, textarea, button {
	font-family: 'Montserrat', sans-serif;
}
