@import "./style/variables/colors.css";


body {
	background-color: var(--background-color);
	overflow: hidden;
	margin: 0 !important;
	padding: 0 !important;
}

body, input, textarea, button {
	font-family: 'Montserrat', sans-serif;
}

.link {
	color: var(--first-link-color);
}

.taskState {
	padding: 5px;
	border-radius: 5px;
	background-color: #30363d;
}

.taskState_TODO {
	color: #FFD700;
}
.taskState_DOING {
	color: #4169E1;
}
.taskState_DONE {
	color: #008000;
}
