@import "./style/variables/colors.css";


body {
	background-color: var(--background-color);
	overflow: hidden;
	margin: 0 !important;
	padding: 0 !important;
}

body, input, textarea, button {
	font-family: 'Montserrat', sans-serif;
}

.link {
	color: var(--first-link-color);
}

.taskState {
	padding: 5px;
	border-radius: 5px;
	background-color: #30363d;
}

.taskState_TODO {
	color: #e74c3c;
}
.taskState_DOING {
	color: #f1c40f;
}
.taskState_DONE {
	color: #07bc0c;
}

.invalidInput {
	border: 5px solid red;
}
